* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  background: #030727;
  color: #f1f1f1;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.main {
  margin: 0 auto;
  max-width: 1000px;
  padding: 15px;
}

.lights {
  margin: 0 auto;
  left: 50%;
  right: 50%;
  top: -500px;
  position: absolute;
  z-index: -999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 25s linear infinite;
  // background: gray;

  img {
    min-height: 1500px;
    min-width: 1500px;
    // background: red;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
