header {
  width: 100%;
  height: 111px;
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logo {
    margin: 0 auto;
    width: fit-content;

    &:hover {
      filter: drop-shadow(0 0 15px hsla(194, 100%, 50%, 0.5));
    }
  }

  .social-medias {
    ul {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 7px;
      li {
        position: relative;
        top: 4px;
        margin-right: 15px;
        display: flex;
        max-height: fit-content;
        filter: brightness(0) invert(1) opacity(0.75);
        cursor: pointer;

        &:hover {
          filter: brightness(0) invert(1)
            drop-shadow(0 0 5px hsla(194, 100%, 50%, 1));
        }
      }
    }
  }

  .blue-line {
    background: #7de1ff;
    box-shadow: 0 0 15px 1px #00c2ff;

    height: 2px;
  }
}
