footer {
  margin-top: 100px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-top: 1px solid #00c2ff;
  box-shadow: 0 5px 15px 1px #00c2ff;

  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;

  p {
    color: hsla(0, 0%, 95%, 0.5);
    font-size: 13px;
    text-align: center;
  }

  a {
    filter: opacity(1);

    color: #00c2ff;
    margin-left: 5px;

    &:hover {
      text-decoration: underline;
    }
  }
}
